<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <bean id="memory" class="Xml.MemoryStorage"></bean>

    <bean id="importUser" class="Xml.ImportUser">
        <constructor-arg name="storage" ref="memory"></constructor-arg>
    </bean>

    <bean id="neWmemory" class="Storage.MemoryStorage"></bean>

    <bean id="neWimportUser" class="Storage.ImportUser">
        <constructor-arg name="storage" ref="neWmemory"></constructor-arg>
    </bean>
    <context:component-scan base-package="Annot"/>

</beans>